<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
<div th:replace="header::menu"></div>
<body>
<form action="inputSave" method="post">
    <table border="1" align="center">
        <tr>
            <th>이름</th>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <th>나이</th>
            <td><input type="text" name="age"></td>
        </tr>
        <tr>
            <th>전화</th>
            <td><input type="text" name="mobile"></td>
        </tr>
        <tr>
            <th>주소</th>
            <td><input type="text" name="address"></td>
        </tr>
        <tr>
            <th>성별</th>
            <td colspan="2"><input type="radio" name="sb" value="남자">남
            <input type="radio" name="sb" value="여자">여</td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="전송">
                <input type="reset" value="취소">
            </td>
        </tr>
    </table>
</form>
</body>
</html>