<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="menu">
<div th:replace="header::menu"></div>
<body>
  <table border="1" align="center">
    <tr>
      <th>이름</th>
      <th>나이</th>
      <th>전화</th>
      <th>주소</th>
      <th>성별</th>
      <th>비고</th>
    </tr>
    <tr th:each="list,state:${list}">
      <td th:text="${list.name}"></td>
      <td th:text="${list.age}"></td>
      <td th:text="${list.mobile}"></td>
      <td th:text="${list.address}"></td>
      <td th:text="${list.sb}"></td>
      <td><a th:href="@{/update(id=${list.id})}">수정</a>
        <a th:href="@{/delete(id=${list.id})}" >삭제</a></td>
    </tr>
  </table>
</body>
</html>